<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="text-center">
            <img src="../public/SF.png" alt="SF" width="10%" class="center">
        </div>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
                <ul class="navbar-nav">
                    <a class="navbar-brand" href="#">Sports Friends</a>
                    <li class="nav-item">
                        <a class="nav-link" href="/a_homepage">HOME</a>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/a_notice">상품소개</a>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">매장안내</a>                    
                    </li>             
                    <li class="nav-item">
                        <a class="nav-link" href="#">프리미엄존</a>                                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">고객서비스</a>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">플레이어</a>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">회사소개</a>                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">추천코너</a>                    
                    </li>                                
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </nav>
<!--큰 이미지-->
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../public/notice01.jpg" alt="banner01" width="100%" height="620px">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item">
                    <img src="../public/notice02.jpg" alt="banner02" width="100%" height="620px">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item">
                    <img src="../public/notice03.jpg" alt="banner03" width="100%" height="620px">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item">
                    <img src="../public/notice04.jpg" alt="banner04" width="100%" height="620px">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item">
                    <img src="../public/notice05.jpg" alt="banner05" width="100%" height="620px">
                    <div class="carousel-caption"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
<!--라켓01~04-->
        <div class="p-4"></div>
        <h1 class="text-left">RACKET TYPE: STIFF</h1>
        <div><h5>(HARD)</h5></div>
        <div class="card text-center">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal01">                       
                            <div class="card">                                     
                                <img src="../public/racket01.jpg" alt="NANOFLARE 700">           
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">NANOFLARE 700</div>
                    </div>
                </div>
                <div class="modal fade" id="Modal01">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">NANOFLARE 700</h4>
                                    <button type="submit" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                    Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                    <input type="text" class="form-control" placeholder="Question" name="question"> 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
<!--라켓02-->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal02">
                            <div class="card">
                                <img src="../public/racket02.jpg" alt="ASTROX 88 D">
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">ASTROX 88 D</div>
                    </div>
                </div>
                <div class="modal fade" id="Modal02">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">ASTROX 88 D</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                <input type="text" class="form-control" placeholder="Question" name="question"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
<!--라켓03-->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal03">
                            <div class="card">
                                <img src="../public/racket03.jpg" alt="ASTROX 88 S">
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">ASTROX 88 S</div>
                    </div>
                </div>
                <div class="modal fade" id="Modal03">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">ASTROX 88 S</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                <input type="text" class="form-control" placeholder="Question" name="question"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
<!--라켓04-->                
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal04">
                            <div class="card">
                                <img src="../public/racket04.jpg" alt="DUORA 10">
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">DUORA 10</div>
                    </div>
                </div>
                <div class="modal fade" id="Modal04">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">DUORA 10</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                <input type="text" class="form-control" placeholder="Question" name="question"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--라켓05~08-->
        <div class="p-4"></div>
        <h1 class="text-left">RACKET TYPE: FLEXIBLE</h1>
        <div><h5>(SOFT)</h5></div>
        <div class="card text-center">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal05">
                            <div class="card">
                                <img src="../public/racket05.jpg" alt="NANORAY Glan Z">
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">NANORAY Glan Z</div>
                    </div>
                </div>
                <div class="modal fade" id="Modal05">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">NANORAY Glan Z</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                <input type="text" class="form-control" placeholder="Question" name="question"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
<!--라켓06-->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal06">
                            <div class="card">
                                <img src="../public/racket06.jpg" alt="ARCSABER FB">
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">ARCSABER FB</div>
                    </div>
                </div>
                <div class="modal fade" id="Modal06">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">ARCSABER FB</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                <input type="text" class="form-control" placeholder="Question" name="question"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
<!--라켓07-->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal07">
                            <div class="card">
                                <img src="../public/racket07.jpg" alt="VOLTRIC LD-FORCE">
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">VOLTRIC LD-FORCE</div>
                    </div>
                </div>
                <div class="modal fade" id="Modal07">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">VOLTRIC LD-FORCE</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                <input type="text" class="form-control" placeholder="Question" name="question"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
<!--라켓08-->
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="modal-content">
                        <button type="button" data-toggle="modal" data-target="#Modal08">
                            <div class="card">
                                <img src="../public/racket08.jpg" alt="CARBONEX 7000N">
                            </div>
                        </button>
                        <div class="card-footer bg-dark text-white">CARBONEX 7000N</div>
                    </div>
                </div>            
                <div class="modal fade" id="Modal08">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">CARBONEX 7000N</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Unde odit mollitia ipsum aspernatur in dolorum eius repudiandae.
                                Nam sit voluptatum non, ad molestias perspiciatis sed quis error inventore, sunt eos!
                                <input type="text" class="form-control" placeholder="Question" name="question"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--게시판-->
        <div class="p-4"></div>
        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
              
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
            </table>
            <div class="text-center">
            <nav aria-label="Page navigation example">                    
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  <span><button type="button" data-toggle="modal" data-target="#Modal_write">글쓰기</button></span>
                </ul>            
            </nav>
            </div>
            <div class="modal fade" id="Modal_write">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">노트</h4>
                                <button type="submit" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" placeholder="이곳에 글을 써주세요." name="write"> 
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>       
    </body>
</html>