</html>
<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <div class="text-center">
        <img src="./SF.png" alt="SF" width="10%" class="center">
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">Sports Friends</a>
            <li class="nav-item">
                <a class="nav-link" href="a_homepage">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="a_notice">상품소개</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">매장안내</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">프리미엄존</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">고객서비스</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">플레이어</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">회사소개</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">추천코너</a>
            </li>
        </ul>
        <form action="/signup_search" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <form action="/a_homepage">
    <div class="container p-3">
        <div class="card">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="fas fa-user" id="name"></span>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="이름" aria-label="이름" aria-describedby="name" name="name">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="fas fa-portrait" id="brith"></span>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="생년월일" aria-label="생년월일" aria-describedby="birth" name="birth">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="fas fa-user-circle" id="id"></span>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="id" name="id">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="fas fa-unlock-alt" id="pwd"></span>
                </div>
            </div>
            <input type="password" class="form-control" placeholder="PASSWORD" aria-label="PASSWORD" aria-describedby="pwd" name="pwd">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="email">@</span>
            </div>
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email" name="email"></textarea>
        </div>
        <div class="d-flex justify-content-end">   
            <a class="btn btn-primary m-3" href="/a_homepage" role="button">취소</a>
            <button type="button" data-toggle="modal" data-target="#Modal_signup" class="btn-primary m-3">확인</button>
        </div>
        </div>
        <div class="modal fade" id="Modal_signup">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title fas fa-user-check"></h4>
                        <a class="btn close" href="a_homepage" role="button">&times;</a>
                    </div>
                    <div class="modal-body">
                        회원가입이 완료되었습니다.
                    </div>
                    <div class="modal-footer">
                        <button type="submit">확인</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    </form>
</body>

</html>